:host {
  color: var(--color-white);
  display: flex;
  align-items: center;
  border-right: 1px solid var(--color-white);
}

img {
  width: clamp(30px, 5vw, 50px);
  height: clamp(30px, 5vw, 50px);
}

strong {
  font-size: clamp(1rem, 2vw, 1.3rem);
  padding: 0 1rem;
  line-height: clamp(1rem, 2vw, 1.3rem);
}
