:host {
  display: flex;
  align-items: stretch;
}

:host a {
  color: var(--color-white);
  text-decoration: none;
  padding: clamp(0.5rem, 1vw, 1rem) clamp(0rem, 1vw, 1.2rem);
  text-transform: uppercase;
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: 600;
  display: flex;
  align-items: center;
}

:host a:hover,
:host a:focus {
  color: var(--color-blue);
}

:host a.active {
  color: var(--color-main);
  background-color: var(--color-blue-light);
}
