:host {
  --transition: background-color 0.5s linear;
  --button-width: 150px;
  --background: var(--color-blue);
  --color: var(--color-white);
  --padding: 1rem;
  --font-size: 1rem;
  --background-hover: var(--color-blue-dark);
  --box-shadow: inset 0 -3px var(--color-blue-dark);
  --border: none;
  color: var(--color-text);
}

:host li::marker {
  color: var(--color-main);
}
