:host {
  display: block;
  background: var(--color-white);
}

:host sg-container {
  display: grid;
  grid-template-columns: minmax(150px, max-content) 1fr minmax(
      100px,
      max-content
    );
  grid-template-rows: minmax(50px, max-content);
  align-items: center;
}
