:host {
  display: block;
  background-color: var(--color-main);
}

:host sg-container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 50px;
  grid-gap: 10px;
  align-items: center;
}
